


label { 
	margin: 10px; 
} 

.buttons { 
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	line-height: 1;
	border-radius: 500px;
	transition-property: background-color,border-color,color,box-shadow,filter;
	transition-duration: .3s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	min-width: 160px;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 16px 14px 18px;
	color: #616467;
	box-shadow: inset 0 0 0 2px #616467;
	background-color: transparent;
	height: 48px;
	
	
}
button:hover{
	color: #fff;
	background-color: #616467;
}
.center {
	margin: auto;
	width: 70%;
	border: 3px solid hsl(120, 57%, 47%);
	padding: 10px;
  }

.card{
	padding-bottom: 30px;
}
/* input{
	color: rgba(0,0,0,.87);
	border-bottom-color: rgba(0,0,0,.42);
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: .009375em;
	text-decoration: inherit;
	text-transform: inherit;
	align-self: flex-end;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 16px 6px;
	transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
	border: none;
	border-bottom: 1px solid;
	border-radius: 4px 4px 0 0;
	background: rgb(245, 245, 245);
	height: 56px;
	:hover{
		border-bottom-color: rgba(0,0,0,.87);
		background: #ececec;
	}
	:focus{
		border-color: #6200ee;
	}

} */

h3 {
	display: flex;
	align-items: baseline;
	/* margin: 0 0 1rem; */
	color: var(--brandColor);
}

h3::before {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
	margin-right: 1rem;
	width: 3rem;
	height: 2rem;
	/* content: counter(list); */
	padding: 1rem;
	border-radius: 50%;
	background-color: var(--brandColor);
	color: white;
}
h3 {
	font-size: 2rem;
	/* margin: 0 0 2rem; */
}

h3::before {
	margin-right: 1.5rem;
}
.data-container {
	border-radius: 15px;
	padding-top: 25px;
  }
  #mySelect:hover {
  background-color: #f0f0f0;
}
